<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tomCatTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F6630161DC36F3E00D6ED5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F66302A1DC36F3E00D6ED5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F6630351DC36F3E00D6ED5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
